@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --light-gray: #797979;
    --dark-gray: #272727;
    --white-200: #F9F9F9;

}

html{
    font-size: 62.5%;
}

body {
    background-color: var(--white-200);
}

/* Header */

header {
    position: fixed;
    padding: 3em 3.47em;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
}

#homeyou-nav-header {
    display: flex;
    color: var(--dark-gray);
    gap: 16px;
    align-items: center;
}

#homeyou-nav-header h1 {
    font-size: 2.4rem;
    font-weight: 600;
}

#nav-items {
    display: flex;
    align-items: center;
    gap: 48px;
}

#nav-items a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--dark-gray);
    text-decoration: none;
    transition: 500ms;
}

#nav-items a:hover {
    color: var(--light-gray);
    transform: scale(1.02);
}

#nav-icon-wrapper {
    display: flex;
    gap: 32px;
}

/*Main*/

main {
    padding-top: 100px;
}

.info-section {
    display: flex;
    justify-content: center;
    background-color: var(--white-200);
    width: 100%;
}

.section-content {
    display: flex;
    justify-content: space-around;
    gap: 68px;
    max-width: 125em;
}

.section-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-text-content h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 48.76px;
    margin-bottom: 16px;
    color: var(--dark-gray);
}

.section-text-content p {
    font-size: 1.8rem;
    font-size: 500;
    line-height: 28.8px;
    margin-bottom: 32px;
    color: var(--light-gray);
}

.button-wrapper button {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 12px 32px;
    border: none;
    background-color: var(--dark-gray);
    color: white;
    margin-right: 40px;
}

.button-wrapper a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--dark-gray);
}

.white-bg {
    background-color: white;
}

.gallery-section {
    padding-top: 5.5em; 
    padding-bottom: 4.4em;
    width: 100%;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.contact-section {
    width: 100%;
    padding: 7.8em;
    text-align: center;
}

.contact-section h3 {
    font-size: 3.2rem;
    margin-bottom: 17px;
}

.contact-section p {
    font-size: 1.8rem;
    margin-bottom: 36px;
    color: var(--light-gray);
}

#contact-button {
    font-size: 1.8rem;
    color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
    padding: 12px 32px;
    text-decoration: none;
}

#section1-image {
    width: 50%;
}

#section2 {
    padding: 12.9em 34.6em 8.2em;
}

#gray-underlay {
    background-color: var(--dark-gray);
    padding: 2em 3em;
}

#gray-underlay h3 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: white
}

#gray-underlay p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 25.6px;
    color: white;
}

#section2-text {
    margin-left: 106px;
}

#section2-text a {
    margin-top: 24px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--dark-gray)
}

#gallery-text {
    text-align: center;
}

#gallery-text h3 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 19px;
}

#gallery-text p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28.8px;
    max-width: 85rem;
    color: var(--light-gray);
}

#gallery {
    max-width: 125em;
    gap: 20px;
    display: flex;
    align-items: center;
}